<h1>Here is an index of all the users</h1>

<%= @users.each do |user| %>
	First Name: <%=user.fname %>
	<br>
	Last Name: <%=user.lname %>
	</div>
	<br>
<% end %>

<%= link_to "Delete User Three.", user_path(3), method: :delete, confirm: "Are you sure?" %>